body{
    font-family: 'Roboto', sans-serif;   
    box-sizing: content-box; 
    margin: 0;
}

body.home{
    background-color: #607d8b;
}

label, input{
    width: 100%;
    box-sizing: content-box;
}

label{
    font-size: 0.85em;
}


input:focus{
    outline: none;
}

/* login */
#form-login-box form{
    margin: 0 auto;
    margin-top: 10%;
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 80px 40px 40px;
    border-radius: 15px;
}

#form-login-box form div{
    color: #ff7e56;
    margin-bottom: 10px;
    width: 100%;
}


#form-login-box label{
    color: #f0f0f0;
}

#form-login-box input{
    margin: 2px 0 15px 0;
    font-size: 1.2em;
    padding: 5px 10px;
    height: 40px;
}

#form-login-box input[type="submit"]{
    width: 100%;
    border-radius: 0px;
}


/* users admin */
header{
    background-color: #607d8b;
    color: #fff;
    padding: 5px;
    margin-bottom: 20px;
}

header nav{
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
}

header nav div{
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

header a{
    text-decoration: none;
    color: #fff;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 1.2em;
}

.add{
    margin-left: 150px !important;
}

table{
    margin: 0 auto;
}

table, tr, td, th
{
    border-collapse:collapse;
}

table th{
    text-align: center;
    line-height: 2em;
    background-color: #dad8d8;
}

table th, table td{
    border: 1px solid #ccc;
}

table td{
    min-width: 200px;
    padding-left: 10px;
}

.btn{
    width: 120px;
    text-align: center;
    color: #fff;
    padding: 5px 2px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: rgb(66, 66,66) 1px 2px 3px 1px;
    margin: 5px;
    text-transform: uppercase;
    font-size: .8em;
    cursor: pointer;
}

#form-box{
    display: none;
}

#form-box form{
    margin: 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 80px 40px 40px;
    border-radius: 15px;
}

#form-box input{
    margin: 2px 0 15px 0;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 5px 10px;
}

#form-box input[type="submit"], #form-box input[type="button"]{
    font-size: .85em;
}

/* messages */
#override{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,.8);
    display: none;
}

.message, .message-confirm{
    margin: 0 auto;
    width: max-content;
    background-color: #ccc;
    border-radius: 15px;
    position: fixed;
    top: 30%;
    left: 45%;
    display: none;
}

.message > .header, .message-confirm > .header{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.message > .content, .message-confirm > .content{
    font-size: .9em;
    padding: 10px 20px;
}

.message-confirm > .btns{
    text-align: center;
}
.green{
    background-color: #4caf50;
    color: white;
}

.red{
    background-color: #f44336;
    color: white;
}

.blue{
    background-color: #1f79c1;
    color: white;
}
